{% extends 'base.html.twig' %}

{% block title %}Formulaire de demande{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4 text-center" style="color:#E8530E;">Formulaire de demande</h1>

    <div class="">
        {{ form_start(form) }}

        <div class="row my-4 gy-2">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                {{ form_row(form.nom) }}
            </div>
         
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">       
                {{ form_row(form.prenom) }}
            </div>
            <div class="col-xs-6 col-sm-8 col-md-6 col-lg-5">
            {{ form_row(form.email_demandeur) }}
            </div>
        </div>
        <div class="row my-4 gy-2">  
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                {{ form_row(form.objet) }}
            </div>
         
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">       
            {{ form_row(form.detail_demande) }}
            </div>
        
            
        {# </div>
        <div class="row"> #}
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">        
            {{ form_row(form.save) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
