{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container">
    <div class="text-center my-4">
        <h1 style="color:#E8530E;">Test technique VVF</h1>
        <small>Aurélie FAVRE-BRUN</small>
    </div>

    <div class="row col-lg-12">
        <div class="col-lg-6">
            <ul><u>Création d'un formulaire de demande comportant</u> :
                <li>un objet</li>
                <li>le texte</li>
                <li>l'email du demandeur</li>
                <li>bouton d'envoi</li>
            </ul>
        </div>

        <div class="col-lg-6">
            <ul><u>Règles</u> :
                <li>email du demandeur unique,</li>
                <li>un demandeur peut faire plusieurs demandes.</li>
            </ul>
            <ul><u>Envoi du formulaire</u> :
                <li>les données du formulaire sont enregistrées en base de données,</li>
                <li>un email est envoyé à un destinataire qui doit être paramétrable.</li>
            </ul>
        </div>

        <hr><br/>

        <div class="col-lg-4">
            <ul><u>Ce que j'ai utilisé</u> :
                <li>Symfony 5.4 (doc + tutos)</li>
                <li>ORM Doctrine</li>
                <li>Composants form et mailer</li>
                <li>Sublime Text</li>
                <li>DBeaver</li>
                <li>Mailtrap</li>
            </ul>
        </div>

        <div class="col-lg-4">
            <ul><u>Déroulé du développement</u> :
                <li>3 soirées (de mardi à jeudi)</li>
                <li>absente w-e du 13-16 juil</li>
            </ul>
        </div>

        <div class="col-lg-4" style="border:1px #E8530E solid; border-radius:5px;">
            <ul style="list-style-type: none;"><b><u>Résultats</u> :
                <li><img src="{{ asset('icons/check.svg') }}" alt="" width="10px"/> 2 pages : accueil + formulaire</li>
                <li><img src="{{ asset('icons/check.svg') }}" alt="" width="10px"/> base de données, table/entité "Demande"</li>
                <li><img src="{{ asset('icons/check.svg') }}" alt="" width="10px"/> données enregistrées en base</li>
                <li><img src="{{ asset('icons/check.svg') }}" alt="" width="10px"/> mail envoyé (<img src="{{ asset('icons/xmark.svg') }}" alt="" width="10px"/>  non intercepté dans Mailtrap)</li>
                <li><img src="{{ asset('icons/xmark.svg') }}" alt="" width="10px"/> paramétrage du destinataire</li>
            </b></ul>
        </div>
    </div>
</div>
{% endblock %}
